[submodule "l10n-account-ec"]
	path = l10n-account-ec
	url = git@gitlab.com:ateneolab/common/l10n-account-ec.git
	branch = develop-14.0
[submodule "l10n-rh-ec"]
	path = l10n-rh-ec
	url = git@gitlab.com:ateneolab/common/l10n-rh-ec.git
	branch = develop-14.0
[submodule "loj-rrhh-src"]
	path = loj-rrhh-src
	url = git@gitlab.com:ateneolab/lojagas/loj-rrhh-src.git
	branch = develop-14.0
[submodule "loj-account-src"]
	path = loj-account-src
	url = git@gitlab.com:ateneolab/lojagas/loj-account-src.git
	branch = develop-14.0
[submodule "loj-tools-src"]
	path = loj-tools-src
	url = git@gitlab.com:ateneolab/lojagas/loj-tools-src.git
	branch = master-14.0
[submodule "loj-business-src"]
	path = loj-business-src
	url = git@gitlab.com:ateneolab/lojagas/loj-business-src.git
	branch = develop-14.0
[submodule "manufacture"]
	path = manufacture
	url = git@github.com:OCA/manufacture.git
	branch = 14.0
